# TASK 2

$$
 Geom(p) ; p ; p = 0.7 \\
  P(X = x) = (1 - p)^{x - 1} \cdot p \\
  f_p = \prod P_i = \prod (1 - p)^{\sum(x_i - 1)} \cdot p^{n} \\
 L(p) = \sum ((x_i - 1)ln(1 - p) + ln(p)) \\
 L'(p) = \dfrac{\sum(1-x_i)}{1-p} + \dfrac{n}{p} \\
L  \rightarrow max \  \text{in} \  p = \dfrac{n}{\sum x_i} = \dfrac{1}{\overline{x}} \\
 \overline{p} = \dfrac{1}{\overline{x}} \\
  P\left(\tau \in \left[\overline{p} -q_{1-\frac{\alpha}{2}} \sigma, \overline{p} +q_{1-\frac{\alpha}{2}} \sigma\right] \right)
$$
–î–æ–≤–µ—Ä–µ—Ç–∏–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –Ω–∞–π–¥–µ–Ω.\
–≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç:

–ü–æ –∑–∞–¥–∞–Ω–∏—é:

In [95]:
import numpy as np
import pandas as pd
from scipy.stats import rv_continuous, geom, norm

p = 0.7
ùúé_squared_1 = 2# –∏–∑ –ø–µ—Ä–≤–æ–π —Ç–∞—Å–∫–∏
ùúé_squared_2 = 1  # —Ç–∞–∫–∂–µ



ùõº = 1 - 0.95

quantile = norm.ppf(1 - ùõº / 2)

def experiment(n, n_experiments=1000):
    # data = np.random.normal(p, size = (n_experiments, n))
    data = geom.rvs(p = p, size = (n_experiments, n))
    _p = n / np.sum(data, axis = 1)
    ùúé = np.sqrt(_p * (1 - _p) / (n + 1))
    
    df = pd.DataFrame()
    df['left'] = _p - quantile * ùúé
    df['right'] = _p + quantile * ùúé
    df['in'] = ((df['left'] <= p) & (df['right'] >= p)).astype(bool)
    return df

–ü—Ä–∏ –±–æ–ª—å—à–æ–º —Ä–∞–∑–º–µ—Ä–µ –≤—ã–±–æ—Ä–∫–∏ —Å—Ä–µ–¥–Ω–µ–µ —Å–º–µ—â–∞–µ—Ç—Å—è –æ—Ç –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ –∏ –æ–Ω –Ω–µ –ø–æ–ø–∞–¥–∞–µ—Ç –≤ –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª.

In [96]:
experiment_25 = experiment(25)
print(len(experiment_25[experiment_25['in']] == True))
experiment_25

951

         left     right    in
0    0.438913  0.811087  True
1    0.422253  0.797259  True
2    0.422253  0.797259  True
3    0.592850  0.922302  True
4    0.622348  0.940152  True
..        ...       ...   ...
995  0.456638  0.825413  True
996  0.540640  0.887931  True
997  0.654591  0.958312  True
998  0.540640  0.887931  True
999  0.391769  0.771022  True

[1000 rows x 3 columns]

In [97]:
experiment_10000 = experiment(10000)
print(len(experiment_10000[experiment_10000['in']] == True))
experiment_10000

980

         left     right    in
0    0.686390  0.704430  True
1    0.686244  0.704286  True
2    0.685028  0.703090  True
3    0.691994  0.709940  True
4    0.687171  0.705198  True
..        ...       ...   ...
995  0.691895  0.709843  True
996  0.697237  0.715092  True
997  0.694232  0.712139  True
998  0.692441  0.710379  True
999  0.697288  0.715142  True

[1000 rows x 3 columns]